.demand-btn {
  display: flex;
  width: 45%;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.btn-txt {
  color: #0a3d53;
  font-size: 18px;
  margin-left: 20px;
}

.bottom-btn {
  display: flex;
  height: 50px;
  color: #053346;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 25px;
}
