.input-message {
    --font-size: 40px !important;
    padding: 10px;
    border-radius: 5px;
    --color: #053346CC;
}

.demand-button .adm-button{
    --background-color: white;
    color: white !important;
}